<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>
<body>
   <div class="box">
      <h2>404</h2>
      <p>Page Not Found</p>
   </div>
<%- include('../includes/end.ejs') %>