<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
        <h2>What type of user are you?</h2>
        <div class="split left">
            <img src="/images/Patient_home.jpg">
            <h1>Patient</h1>
            <a href="/login/patient" class="button">Continue</a>
        </div>
        <div class="split right">
            <img src="/images/Doctor_home.jpg">
            <h1>Doctor</h1>
            <a href="/login/doctor" class="button">Continue</a>
        </div>
    </div>
    <script src="/js/home.js"></script>
<%- include('../includes/end.ejs') %>
